/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Search container styles */
  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  /* Search bar styles */
  #search {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }

   Add form styles
.add-form-container {
  display: none;
  text-align: right;
}
  #add-form { 
    text-align: right; 
    /* padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px; */
  }
  
  #add-form label {
    text-align: right; 
    /* display: block;
    margin-bottom: 10px; */
  }
  
 /* #add-form input[type="text"], 
  #add-form input[type="date"],
  #add-form input[type="file"] {
    /* width: 200px;
    padding: 5px; 
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  } */
  
  #add-form input[type="submit"] {
    text-align: right; 
    /* padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer; */
  } 
   
  
  /* Add button styles */
  #add-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  thead th {
    padding: 12px 15px;
    text-align: left;
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
  }
  
  tbody td {
    padding: 12px 15px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ccc;
  }
  
  tbody tr:last-child td {
    border-bottom: none;
  }
  
  /* Hover effect on table rows */
  tbody tr:hover {
    background-color: #f2f2f2;
  }
  